  // .container { display: block; margin: 0 auto; width: (2300px/2); }
#header {
  margin-top: (40px/2);
  overflow: hidden;
  position: relative;
  #header-con {
    display: block;
    margin: 0 auto;
    overflow: hidden;
    width: (1822px/2);
    .logo-header {
      display: block;
      float: left;
      width: (618px/2);
      img { width: 100%; }
    }
    .links {
      display: block;
      float: right;
      overflow: hidden;
      width: (764px/2);
      .btn {
        border-radius: 4px;
        display: block;
        color: #fff;
        float: left;
        font-size: (27px/2);
        line-height: (27px/2);
        margin-right: (19px/2);
        padding: (30px/2) 0 (23px/2);
        position: relative;
        text-align: center;
        transition: .3s;
        width: (242px/2);
        &:last-child { margin-right: 0; }
        &:hover { opacity: .8; }
        span {
          display: block;
          position: relative;
          margin-left: (-28px/2);
          &:after {
            background-image: url('../images/common/chevron-white.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100%;
            content: '';
            height: (23px/2);
            margin-left: 5px;
            position: absolute;
            width: (14px/2);
          }
        }
      }
      .primary { background-color: #25529a; }
      .secondary { background-color: #e86562; }
      .tertiary { background-color: #ff9a00; }
    }
  }
}

.nav {
  border-bottom: 1px solid #bababa;
  display: block;
  .nav-menu {
    display: block;
    margin: (32px/2) auto;
    overflow: hidden;
    width: (1822px/2);
    .nav-menu-items {
      border-left: 1px solid #a4a3a5;
      border-top: 1px solid #fff;
      display: block;
      overflow: hidden;
      padding: 0 (38px/2);
      position: relative;
      float: left;
      &:last-child {
        border-right: 1px solid #a4a3a5;
        &:before {
          background-image: url('../images/common/icn_globe.png');
          background-position: left center;
          background-repeat: no-repeat;
          background-size: 15px 15px;
          content: '';
          display: block;
          float: left;
          margin-top: 5px;
          margin-right: 8px;
          height: 15px;
          width: 15px;
        }
      }
      a {
        color: #3a3a3a;
        font-size:(27px/2);
        line-height: (27px/2);
      }
    }
  }
}

.sticky-nav {
  background: rgba(255,255,255,1);
  border-bottom: 1px solid #bababa;
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  .nav-menu {
    display: block;
    margin: (18px/2) auto;
    overflow: hidden;
    width: (1792px/2);
    .nav-menu-items {
      border-right: 1px solid #a4a3a5;
      display: block;
      overflow: hidden;
      padding: 0 (38px/2);
      margin-top: 3px;
      position: relative;
      float: left;
      a {
        color: #3a3a3a;
        font-size:(24px/2);
        line-height: (24px/2);
      }
      &:first-child { border-left: 1px solid #a4a3a5; }
    }
    .tertiary {
      background-color: #ff9a00;
      border-radius: 4px;
      color: #fff;
      display: block;
      float: right;
      font-size: (24px/2);
      line-height: (24px/2);
      padding: (18px/2) (38px/2) (18px/2) (20px/2);
      position: relative;
      text-align: center;
      width: (216px/2);
      &:after {
        background-image: url('../images/common/chevron-white.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        content: '';
        height: (23px/2);
        margin-left: 5px;
        position: absolute;
        top: 9px;
        width: (14px/2);
      }
    }
  }
}

#banner {
  display: block;
  overflow: hidden;
  width: 100%;
  position: relative;
  .banner-slider {
    display: block;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
  }
  figure {
    display: block;
    width: 100%;
    img { overflow: hidden; width: 100%; }
  }
}
/* INTRODUCTION */
#introduction {
  display: block;
  margin: 0;
  overflow: hidden;
  padding: (140px/2) 0 (224px/2);
  position: relative;
  h1 {
    color: #009ae5;
    font-size: (58px/2);
    font-weight: bold;
    line-height: (58px/2);
    margin-bottom: (60px/2);
    text-align: center;
  }
  p {
    color: #6a6a6a;
    font-size: (30px/2);
    line-height: (70px/2);
    text-align: center;
  }
  .features {
    display: block;
    margin: (40px/2) auto 0;
    overflow: hidden;
    width: (1800px/2);
    .features-items {
      display: block;
      float: left;
      margin-right: (146.5px/2);
      width: (340px/2);
      &:last-child { margin-right: 0; };
      figure {
        display: block;
        margin-bottom: (22px/2);
        img { width: 100%; }
      }
      span {
        color: #6a6a6a;
        display: block;
        font-size: (30px/2);
        line-height: (30px/2);
        margin-bottom: (18px/2);
        text-align: center;
      }
      h2 {
        color: #009ae5;
        font-size: (48px/2);
        line-height: (48px/2);
        text-align: center;
      }
    }
  }
}
/* CAMPUS */
#campus {
  background-color: #ecf8fe;
  background-image: url(../images/common/bg01.png);
  background-position: center;
  background-size: (12px/2) (12px/2);
  display: block;
  margin: 0;
  overflow: hidden;
  padding: (110px/2) 0 (180px/2);
  position: relative;
  h2 {
    color: #4d4d4d;
    font-size: (60px/2);
    font-weight: bold;
    line-height: (60px/2);
    text-align: center;
    span { font-size: (85px/2); line-height: (85px/2); }
  }
  .campus-list {
    display: block;
    margin: (68px/2) auto 0;
    overflow: hidden;
    padding: 0;
    width: (2300px/2);
    .campus-list-items {
      background: #fff;
      border-radius: 5px;
      display: block;
      float: left;
      margin: 0 (70px/2) 0 0;
      overflow: hidden;
      padding: 0;
      width: (720px/2);
      &:last-child { margin-right: 0; }
      figure {
        display: block;
        margin: 0;
        overflow: hidden;
        img {
          display: block;
          object-fit: cover;
          width: 100%;
        }
      }
      article {
        display: block;
        padding: (30px/2) (30px/2) (80px/2) (30px/2);
        h3 {
          font-size: (50px/2);
          font-weight: bold;
          line-height: (52px/2);
          margin-bottom: (25px/2);
          &.rpc { color: #23ac38; width: (370px/2); }
          &.premium { color: #aa6b23; width: (639px/2); }
          &.active { color: #076292; width: (434px/2); }
          img { display: block; width: 100%; }
        }
        p {
          font-size: (30px/2);
          line-height: (48px/2);
        }
        .button {
          border-radius: 6px;
          display: block;
          font-size: (30px/2);
          font-weight: bold;
          line-height: (30px/2);
          width: 200px;
          height: 43px;
          text-align: center;
          text-decoration: none;
          line-height: 54px;
          margin: (30px/2) auto 0;
          outline: none;
          position: relative;
          z-index: 2;
          background-color: #fff;
          line-height: 40px;
          overflow: hidden;
          span {
            display: block;
            position: relative;
            &:after {
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100%;
            content: '';
            display: block;
            height: (24px/2);
            position: absolute;
            right: (20px/2);
            top: 34%;
            width: (14px/2);
            }
          }
          &:hover {span{&:after {background-image: url('../images/common/chevron-white.png');top: 32%;}}}
        }
        .primary {
          border: (4px/2) solid #23ac38;
          color: #23ac38;
          span { &:after { background-image: url('../images/common/chevron-green.png'); } }
        }
        .secondary {
          border: (4px/2) solid #aa6b23;
          color: #aa6b23;
          span { &:after { background-image: url('../images/common/chevron-brown.png'); } }
        }
        .tertiary {
          border: (4px/2) solid #076292;
          color: #076292;
          span { &:after { background-image: url('../images/common/chevron-blue.png'); } }
        }
        .button::before,
        .button::after {
          position: absolute;
          z-index: -1;
          display: block;
          content: '';
        }
        .button,
        .button::before,
        .button::after {
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          -webkit-transition: all .3s;
          transition: all .3s;
        }
        .button:hover { color: #fff; }
        .button::after {
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          -webkit-transform: scale(.5);
          transform: scale(.5);
        }
        .button:hover::after { -webkit-transform: scale(1); transform: scale(1); }
        .primary:hover::after { background: #23ac38; }
        .secondary:hover::after { background: #aa6b23; }
        .tertiary:hover::after { background: #076292; }
      }
    }
  }
}
/* CHOOSE */
#choose {
  background-color: #fafafa;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  padding: (162px/2) 0 (100px/2);
  position: relative;
  h2 {
    font-size: (60px/2);
    font-weight: bold;
    line-height: (60px/2);
    text-align: center;
  }
  .choose-list {
    display: block;
    margin: (100px/2) auto 0;
    overflow: hidden;
    padding: 5px;
    width: (2170px/2);
    .choose-items {
      background-color: #fff;
      display: block;
      float: left;
      height: (672px/2);
      margin: 0 (46px/2) (60px/2) 0;
      overflow: hidden;
      -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,.1);
      -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,.1);
      box-shadow: 0px 0px 5px 1px rgba(0,0,0,.2);
      padding: 0 (58px/2);
      position: relative;
      width: (686px/2);
      &:nth-child(3n+3) { margin-right: 0; }
      figure {
        display: block;
        margin: 0 auto (50px/2);
        img { width: 100% }
        &.fig01 { margin-top: 42px; width: (310px/2); }
        &.fig02 { margin-top: 57px; width: (257px/2); }
        &.fig03 { margin-top: 53px; width: (127px/2); }
        &.fig04 { margin-top: 53px; width: (306px/2); }
        &.fig05 { margin-top: 62px; width: (287px/2); }
        &.fig06 { margin-top: 25px; width: (349px/2); }
        &.fig07 { margin-top: 55px; width: (286px/2); }
      }
      article {
        h3 {
          font-size: (35px/2);
          line-height: (35px/2);
          margin-bottom: (30px/2);
          text-align: center;
        }
        p {
          font-size: (30px/2);
          line-height: (48px/2);
        }
      }
      .tag {
        border-radius: 4px;
        color: #fff;
        display: block;
        font-size: (22px/2);
        padding: 3px 10px;
        position: absolute;
        right: 10px;
        top: 10px;
        &.orange { background-color: #f19035; }
        &.green { background-color: #a1bd4c; }
      }
    }
  }
}
/* ABROAD */
#abroad {
  background-color: #ecf8fe;
  display: block;
  margin: 0;
  overflow: hidden;
  padding: (165px/2) 0 (250px/2);
  position: relative;
  h2 {
    font-size: (60px/2);
    font-weight: bold;
    line-height: (60px/2);
    margin-bottom: (140px/2);
    text-align: center;
  }
  .button {
    border: (4px/2) solid #5a5a5a;
    border-radius: 6px;
    color: #5a5a5a;
    display: block;
    font-size: (30px/2);
    font-weight: bold;
    line-height: (30px/2);
    width: (620px/2);
    height: 53px;
    text-align: center;
    text-decoration: none;
    line-height: 54px;
    margin: (30px/2) auto 0;
    outline: none;
    position: relative;
    z-index: 2;
    background-color: #fff;
    line-height: 50px;
    overflow: hidden;
    span {
      display: block;
      position: relative;
      &:after {
      background-image: url('../images/common/chevron-grey.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      content: '';
      display: block;
      height: (24px/2);
      position: absolute;
      right: (20px/2);
      top: 38%;
      width: (14px/2);
      }
    }
    &:hover {span{&:after {background-image: url('../images/common/chevron-white.png');top: 35%;}}}
  }
  .button::before,
  .button::after {
    position: absolute;
    z-index: -1;
    display: block;
    content: '';
  }
  .button,
  .button::before,
  .button::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .button:hover { color: #fff; }
  .button::after {
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    -webkit-transform: scale(.5);
    transform: scale(.5);
  }
  .button:hover::after {
    background: #5a5a5a;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  .more {
    bottom: (32px/2);
    display: block;
    height: (18px/2);
    position: absolute;
    right: (50px/2);
    width: (23px/2);
    img { width: 100%; }
  }
  .abroad-list {
    display: block;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: (1930px/2);
    .abroad-items {
      background-color: #fff;
      border-radius: 10px;
      display: block;
      float: left;
      margin: 0 (50px/2) (135px/2) 0;
      overflow: hidden;
      position: relative;
      width: (610px/2);
      &:nth-child(3n+3) { margin-right: 0; }
      figure {
        display: block;
        overflow: hidden;
        img { width: 100%; }
      }
      article {
        display: block;
        padding: (25px/2);
        overflow: hidden;
        position: relative;
        h3 {
          font-size: (35px/2);
          font-weight: bold;
        }
        p {
          font-size: (30px/2);
          font-weight: bold;
          margin-left: (24px/2);
        }
        .tags {
          border-radius: 100%;
          color: #fff;
          display: block;
          float: left;
          height: (100px/2);
          margin: (20px/2) (22px/2) 0 0;
          position: relative;
          width: (100px/2);
          p {
            display: block;
            font-size: (12px/2);
            line-height: (12px/2);
            left: 0;
            margin: 0;
            padding: 0;
            position: absolute;
            top: 16px;
            text-align: center;
            width: 100%;
            span {
              display: block;
              font-size: (30px/2);
              line-height: (30px/2);
            }
          }
          &.blue { background-color: #009cee; }
          &.green { background-color: #a1bd4c; }
          &.orange { background-color: #f19035; }
        }
      }
    }
  }
}
#sns {
  display: block;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  .sns-content {
    display: block;
    margin: 0 auto;
    overflow: hidden;
    padding: (230px/2) 0 (160px/2);
    position: relative;
    width: (2120px/2);
    .blog-content {
      display: block;
      float: left;
      margin-right: (190px/2);
      overflow: hidden;
      position: relative;
      width: (1170px/2);
      h2 {
        color: #4e5157;
        font-size: (40px/2);
        font-weight: bold;
        line-height: (40px/2);
        border-bottom: 1px solid #9c9c9c;
        margin-bottom: (30px/2);
        padding: 0 0 (26px/2) (95px/2);
        position: relative;
        &:before {
          background-image: url('../images/common/icn-blog.png');
          background-position: center;
          background-repeat: no-repeat;
          background-size: 100% 100%;
          content: '';
          display: block;
          height: (45px/2);
          left: 15px;
          position: absolute;
          top: 0px;
          width: (45px/2);
        }
      }
      span {
        display: block;
        color: #5a5a5a;
        font-size: (26px/2);
        line-height: (48px/2);
      }
      .blog-list {
        display: block;
        margin: (60px/2) auto 0;
        overflow: hidden;
        padding: 0;
        position: relative;
        width: (1125px/2);
        .blog-item {
          display: block;
          margin-bottom: (120px/2);
          overflow: hidden;
          &:last-chile { margin-bottom: 0; }
          .blog-cover {
            display: block;
            float: left;
            overflow: hidden;
            margin-right: (40px/2);
            width: (568px/2);
            img { width: 100%; }
          }
          .blog-details {
            display: block;
            float: left;
            overflow: hidden;
            width: (512px/2);
            h3 {
              font-size: (48px/2);
              font-weight: bold;
              line-height: (48px/2);
              margin-bottom: (50px/2);
            }
            p {
              display: -webkit-box;
              font-size: (30px/2);
              line-height: (48px/2);
              -webkit-line-clamp: 5;
              -webkit-box-orient: vertical;
              margin-bottom: (40px/2);
              overflow: hidden;
              width: 100%;
            }
            .btn {
              background-color: #377dd4;
              color: #fff;
              display: block;
              float: right;
              font-size: (24px/2);
              line-height: (24px/2);
              margin: 0;
              padding: 10px 8px;
              text-align: center;
              transition: .3s;
              &:hover { opacity: .8; }
            }
          }
        }
      }
    }
    .fb-content {
      display: block;
      float: left;
      position: relative;
      width: (760px/2);
      h2 {
        color: #4e5157;
        font-size: (40px/2);
        font-weight: bold;
        line-height: (40px/2);
        border-bottom: 1px solid #9c9c9c;
        margin-bottom: (30px/2);
        padding: 0 0 (26px/2) (95px/2);
        position: relative;
        &:before {
          background-image: url('../images/common/icn-fb.png');
          background-position: center;
          background-repeat: no-repeat;
          background-size: 100% 100%;
          content: '';
          display: block;
          height: (53px/2);
          left: 10px;
          position: absolute;
          top: -3px;
          width: (53px/2);
        }
      }
      span {
        display: block;
        color: #5a5a5a;
        font-size: (26px/2);
        line-height: (48px/2);
        margin-bottom: (40px/2);
      }
    }
  }
}
#insta-feed {
  display: block;
  margin: 0;
  overflow: hidden;
  padding: 0 0 (90px/2);
  position: relative;
  .insta-title {
    display: block;
    height: (70px/2);
    margin: 0 auto (55px/2);
    width: (337px/2);
  }
}
#google-map {
  figure {
    display: block;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    img { width: 100%; }
  }
}
#footer {
  background-color: #eee;
  display: block;
  padding: (160px/2) 0 (60px/2);
  .sitemap-wrap {
    display: block;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 0 60px;;
    position: relative;
    width: 1085px;
    .company-info {
      display: block;
      float: left;
      margin-right: 125px;
      overflow: hidden;
      padding: 0;
      position: relative;
      h3 {
        color: #4d4d4d;
        font-size: 18px;
        font-weight: bold;
        line-height: 18px;
        margin-bottom: 38px;
      }
      span {
        color: #000;
        display: block;
        font-size: 14px;
        font-weight: bold;
        line-height: 14px;
        position: relative;
        padding: 0 0 0 26px;
        &:before {
          background-image: url('../images/common/icn-tel.png');
          background-position: center;
          background-repeat: no-repeat;
          background-size: 100%;
          content: '';
          height: 25px;
          left: 0;
          position: absolute;
          top: -8px;
          width: 21px;
        }
      }
      p { color: #4d4d4d; font-size: 12px; line-height: 24px; }
      .social-btn {
        display: block;
        margin: 115px 0 0;
        overflow: hidden;
        a {
          display: block;
          float: left;
          margin-right: 20px;
          &:hover {opacity: .8;}
        }
      }
    }
    .about-us, .course, .flow, .support {
      display: block;
      float: left;
      margin: 0;
      overflow: hidden;
      padding: 0;
      position: relative;
      h3 {
        color: #333;
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 25px;
      }
      ul {
        li {
          display: block;
          margin-bottom: 10px;
          a {
            color: #9b9c9b;
            font-size: 14px;
            line-height: 14px;
            &:hover { text-decoration: underline; }
          }
        }
      }
    }
    .about-us { margin-right: 26px;}
    .course { margin-right: 16px; }
    .flow { margin-right: 90px; }
    .other {
      display: block;
      overflow: hidden;
      width: 100%;
      ul {
        display: block;
        float: right;
        li {
          display: block;
          float: left;
          margin-right: 10px;
          &:last-child {margin-right: 0;}
          &:hover { text-decoration: underline; }
          a {
            color: #4d4d4d;
            font-size: 12px;
            line-height: 12px;
          }
        }
      }
    }
  }
  .copyright {
    display: block;
    font-size: (30px/2);
    line-height: (30px/2);
    text-align: center;
  }
}



/* MEDIA QUERRIES HERE */
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
  #introduction { padding: 25px 0; }
  #introduction h1 {
    font-size: 21px;
    line-height: 42px;
    margin-bottom: (30px/2);
  }
  #introduction p {
    font-size: 14px;
    line-height: 28px;
    margin: 0 auto;
    text-align: left;
    width: 90%;
  }
  #introduction .features {
    margin: 20px auto 0;
    width: 85%;
  }
  #introduction .features .features-items {
    margin-bottom: 20px;
    margin-right: 10%;
    width: 45%;
  }
  #introduction .features .features-items:nth-child(2n+2) { margin-right: 0; }
  #introduction .features .features-items span {
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 9px;
  }
  #introduction .features .features-items h2 {
    font-size: 18px;
    line-height: 18px;
  }
  #campus { padding: 25px 0 50px; }
  #campus h2 {
    font-size: 21px;
    line-height: 21px;
  }
  #campus h2 span {
    font-size: 30px;
    line-height: 30px;
  }
  #campus .campus-list {
    margin: 20px auto 0;
    width: 90%;
  }
  #campus .campus-list .campus-list-items {
    margin: 0 0 35px 0;
    width: 100%;
  }
  #campus .campus-list .campus-list-items article h3 { margin-bottom: 8px; }
  #campus .campus-list .campus-list-items article h3.rpc { width: 151px; }
  #campus .campus-list .campus-list-items article h3.premium { width: 270px; }
  #campus .campus-list .campus-list-items article h3.active { width: 160.8px; }
  #campus .campus-list .campus-list-items article p { font-size: 12px; line-height: 20px; }
  #choose { padding: 20px 0 25px; }
  #choose h2 {
    font-size: 21px;
    line-height: 42px;
    margin: 0 auto;
    width: 90%;
  }
  #choose .choose-list {
    margin: 25px auto 0;
    width: 85%;
  }
  #choose .choose-list .choose-items {
    background-color: #fff;
    display: block;
    float: left;
    height: 310px;
    margin: 0 0 30px 0;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
    padding: 0 15px;
    position: relative;
    width: 100%;
  }
  #choose .choose-list .choose-items article h3 {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 15px;
    text-align: center;
  }
  #choose .choose-list .choose-items article p {
    font-size: 12px;
    line-height: 24px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) { }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) { }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) { }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { }
